
  .cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #b8f0bb;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
  }
  

  .Fav {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: crimson;
  }
  
  .Fav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .Fav li {
    display: inline-block;
    margin-right: 10px;
  }

  .product-container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-container {
    position: absolute;
    left: 50%; /* center horizontally */
    bottom: -30px; /* move up slightly to align with product items */
    transform: translateX(-50%);
    margin-top: 10px; /* add margin top */
  }
  
  /* table style */
  .table {
    max-width: 60%;
    margin: 20px auto;
  }
  
  .table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table button {
    background-color: #f2f2f2;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #center {
    text-align: center;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
  }
  
  .cart-item-name {
    margin-right: 10px;
    color:rgb(24, 26, 26);
  }
  