.userNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
  }
  
  .userNavbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
  }

  .userNavbar h4 {
  color: rgb(183, 154, 190);
}
  
  
.show-time{
    color: rgb(64, 207, 135);
     margin-left: 130px;
}

.d-flex{
    margin-right: 250px;
}

.bs-person{
    color: rgb(203, 216, 19);
}

h3{
color: blueviolet;
}