.loginBtn {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
}

button {
    background-color: #4CAF50;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

form {
    border: 3px solid #f1f1f1;
}
.submitbtn{
    width: 100%;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 30px;
}
.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 30px;
}

.container {
    padding: 25px;
    background-color: lightblue;
}