.icon{
    position:relative;
    margin-right: 0px;
    padding: 20px;
}


.user_details {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  
  p {
    font-size: 14px;
    font-weight: bold;
   color: beige;
  }
  